.projectTitle{
    justify-self:flex-start;
    cursor: default;
    transition:.2s;
}
.projectTitle:hover{
cursor:default;
}

#project{
    position:relative;
    max-width: 100%;
    display: grid;
    padding-left:10px;
    padding-right:10px;
    font-size:17px;
    line-height:1.3;
    font-family: "Sans Regular";
    top: 120px;
    grid-template-columns: 35fr 65fr;
    justify-content:space-between;
    align-items:start;
}
.labelreg{
    font-family:"Saol Italic";
}
.labelita{
    font-family: 'Neue Machina';
}
#project #label{
    margin-top:10px;
    margin-bottom:16px;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    width:100%;
    position:relative;
}
i, #description a{
    font-family:"Saol Italic";
}
#project img{
    position:relative;
    max-width:100%;
    cursor:zoom-in;
    padding-right:0;
}
#description{
    font-size:17px;
    align-self:start;
    vertical-align:top;
    margin:0;
    margin-top:-20px;
    padding-right:36px;
    padding-top:0;
    top:0;
    transition:.2s;
}
#description a{
    font-size:16px;
    font-family: "Sans Medium Italic";
}
.detail{
    font-size:14px;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    border-top:1.3px black solid;
    padding-top:0px;
    padding-bottom:0px;
}
.detail p{
    width:48%;
}
.detail a{
    font-size:14px; 
    padding:0;
    margin:0;
}
#hero{
    grid-column:2;
}
#gallery{
grid-column:2;
grid-row:3;
}

#projfooter, #projfooter a{
    display:flex;
    color:black;
    justify-content:space-between;
    font-size:1.8rem;
    align-content:flex-start;
    padding-top:40px;
    padding-bottom:2px;
    grid-column:2;
    grid-row:4;
    padding-left:0px;
}
#projfooter{
 cursor:default;
}
#projfooter a{
 cursor:pointer;
}

/*-----------------------various polyptych setups for multiple images in one row----------------*/
/*---!!!!!-------!!!!-----On mobile, make sure these classes are removed-  !!!!!!     !!!!!------*/
.diptych{
    display:inline-flex;
    flex-direction:row;
    max-width:100%;
    justify-content:space-between;
    overflow-x:hidden;
}
.diptych img{
    position:relative;
    padding-right:6px;
    width:50%;
    align-self:flex-start;
}
.triptych{
    display:inline-grid;
    grid-template-columns: auto auto auto;
    grid-column-gap:6px;
    max-width:100%;
    justify-content:space-between;
    overflow-x:hidden;
    margin-bottom:6px;
}
.triptych img{
    position:relative;
    padding-right:6px;
    width:100%;
    align-self:flex-start;
}
.polyptych{
    display:inline-grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap:6px;
    grid-row-gap:6px;
    max-width:100%;
    justify-content:space-between;
    overflow-x:hidden;
    margin-bottom:6px;
}
.polyptych img{
    position:relative;
    padding-right:6px;
    width:100%;
    align-self:flex-start;
}
/*-----------------------zoom-in overlay----------------*/
.modal-overlay{
    position:fixed;
    width:100%;
    max-height:100%;
    background-color:black;
    transition:.2s;
    cursor:zoom-out;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:0;
}
.modal-overlay img{
    position:absolute;
    max-height:85%;
    max-width:90%;
    margin-left:50vw;
    margin-top:50vh;
    transform:translate(-50%, -50%);
}

/*-----------------------non-universal changes for specific projects----------------*/
/*---------------------------------reconna-------------------------*/
#reconnatest{
    display:inline-flex;
    flex-direction:column;
    width:100%;
    margin-bottom:20px;
}
textarea {
    color:#111111;
    overflow:hidden;
    font-family: "Reconna";
    font-size: 30px;
    height:150px;
    width: auto;
    padding: 1.2rem;
    border-radius:5px;
    border: 1px solid black;
    resize: none;
    outline:none;
    transition: all 0.2s;
}
textarea:hover{
    transition: 0.2s;
    height:300px;
    overflow-y:scroll;
}
.reconnapage .sliderlabel{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    width:98%;
    margin-left:1%;
    font-size:14px;
    margin-bottom:20px;
}
/*-------style slider*/
.reconnapage input{
    margin-top:40px;
    cursor:pointer;
    margin-bottom:6px;
    background-color:transparent;
    border:1px solid black;
    border-radius: 5px;
    height:5px;
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
}
input:hover, input:active, input:focus, td:hover, td:focus, table:focus{
    outline:none;
    border:1px solid black;
    box-shadow:none;
    box-shadow: 0px 0px 0px transparent;
    text-decoration:none;
    background:transparent;
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
}
input:focus::-webkit-slider-runnable-track {
    background: transparent;
    box-shadow:none;
    -webkit-appearance:none;
    outline:none;
  }
  input:focus::-ms-fill-upper {
    box-shadow:none;
    -webkit-appearance:none;
    outline:none;
  }
.reconnapage input::-webkit-slider-thumb {
    -webkit-appearance: none;
    width:30px;
    height:5px;
    background-color:black;
    border-radius:5px;
  }
  input::-ms-track {
    width: 100%;
    cursor: pointer;
    background-color:black;
  }
.reconnapage iframe{
    display:inline-block;
    border:0px solid white;
    width:100%;
    height:100%;
}
.reconnapage iframe:hover{
    border:0px solid white;
    background:white;
}

/*-----------------------medddddddia queriesssssss------------------------------------*/

@media (max-width: 1500px) {
 }

@media (max-width: 1100px) {
    /*#project{
        grid-template-columns:32vw 3vw 63vw 2vw; 
    }*/
@media (max-width: 1000px) {
        #description, #description a, .detail{
            font-size:14px;
        }
        #project #label{
            font-size:17px;
        }
        #projfooter{
            font-size: 1em;
        }
    }
@media (max-width: 950px) {
        #description, #description a, .detail{
            font-size:12px;
        }
        #project #label{
            font-size:15px;
        }
    }
@media (max-width: 850px) {
    .top{   
        grid-template-columns: 35vw 65vw;
    }
    .projectTitle{
        text-align:center;
    }
    .top .index, .finishedindex{
                display:none;
                transition:.2s;
         }
        #project{
            display:flex;
            flex-direction:column;
        }
        #description, #description a{
            font-size:20px;
        }
        .detail{
            font-size:13px;
            margin-bottom:20px;
        }
        #project #label{
            font-size:22px;
        }
        #description{
            width:92vw;
        }
        #projfooter{
            margin-top:80px;
            margin-bottom:4px;
            align-self:flex-end;
            width:65%;
        }
        .modal-overlay img{
            max-width:96%;
        }
    }
    @media (max-width: 550px) {

        #description, #description a{
            font-size:16px;
        }
        .detail{
            font-size:12px;
        }
        #project #label{
            font-size:18px;
        }
    }
 }